@!(body,scripts)
<!DOCTYPE html>
<html lang="en" ng-app="XPSeed">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="img/favicon.png">

    <title>Express Seed</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/jumbotron-narrow.css" rel="stylesheet">

    <link href="css/app.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <style>
      [ng-cloak] {
        display: none;
      }
    </style>
  </head>

  <body>

    <div class="container">

      

      <div ng-view></div>
      @body()


      <div class="footer">
        <p>&copy; niofis 2014</p>
      </div>

    </div> 

    <script src="js/angular/angular.js"></script>
    <script src="js/angular-route/angular-route.js"></script>
    <script src="js/angular-resource/angular-resource.js"></script>


    <script src="app/main.js"></script>
    <script src="app/services.js"></script>
    <script src="app/controllers/home.js"></script>
    <script src="app/controllers/about.js"></script>
    <script src="app/filters.js"></script>
    <script src="app/directives.js"></script>
    @scripts()
  </body>
</html>
